<style type="text/css">
 .hour {
   text-align: right;
 }
 .overtime {background: #cc3333}
 .noplan {background: #ffff33}
 .normal {}
</style>

<h2><%= @title %></h2>

<table border="1" class="list">
  <thead>
    <tr>
      <th><%= l(:label_project) %></th>
      <th>発注日</th>
      <th>納品日</th>
      <th>見積 (h)</th>
      <th>実績 (h)</th>
      <th>見積実績比 (%)</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <%= make_send_body(project) %>
    <% end %>
  </tbody>
</table>

<% html_title @title %>
